body {
  margin: 0;
  padding: 0;
}

h2 {
  color: #495E57;
  font-size: 18pt;
}

/* CSS for the grid for the layout of this website. */

.layoutContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0;
}

.logo {
  grid-column: 1/5;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: left;
  background-color: #EDEFEE;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
}

.navbar {
  grid-column: 5/13;
  background-color: #EDEFEE;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
  justify-items: stretch;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  padding: 0;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #495E57;
  text-decoration: none;
  font-weight: bold;
}

.main {
  grid-column: 1/13;
}

.footer {
  grid-column: 1/13;
  margin-top: 3rem;
}

/* Main Grid */

.cardContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 0;
  row-gap: 3rem;
}

.specials {
  grid-column: 3/11;
  border-radius: 16px;
  align-items: center;
  justify-items: center;
}

.testimonials {
  grid-column: 3/11;
  border-radius: 16px;
  background-color: #EDEFEE;
  border: solid 1px;
  border-color: #333;
}

.about {
  grid-column: 3/11;
  border-radius: 16px;
  border: solid 1px;
  background-color: #EDEFEE;
  border-color: #333;
}



/* Flexbox for Hero Section */

.heroContainer {
  display: flex;
  background-color: #495E57;
  align-content: space-between;
  justify-content: center;
  font-size: 16pt;
  line-height: 1.5;
  color: #EDEFEE;
  margin-bottom: 3rem;
  padding: 2%;
}

.heroContainer img {
  border-radius: 16px;
  display: block;

}

.heroContent {
  justify-items: center;
  align-items: center;
  width: 65ch;
}

.heroImg {
  justify-items: center;
  align-items: center;
}

.heroContainer h2 {
  color: #F4CE14;
  font-size: 18pt;
}

.heroContainer button {
  background-color: #F4CE14;
  font-size: 16pt;
  border: none;
  border-radius: 16pt;
  color: #495E57;
}

.heroContainer button:hover {
  background-color: #495E57;
  border: solid 1px;
  border-color: #EDEFEE;
  color: #F4CE14;
  font-size: 16pt;
  border-radius: 16pt;
}

/* Footer Flexbox */

.footerContainer {
  display: flex;
  background-color: #333;
  align-content: space-between;
  justify-content: space-evenly;
  font-size: 12pt;
  line-height: 1.5;
  color: #EDEFEE;
}

.footerImg {
  align-items: center;
  justify-items: center;
}

.footerNav {
  align-items: center;
  justify-items: center;
}

.footer ul {
  list-style-type: none;
}

.footerContact {
  align-items: center;
  justify-items: center;
}

.footerSocial {
  align-items: center;
  justify-items: center;
}

.footer a {
  color: #EDEFEE;
  text-decoration: none;
}

.footer a:hover {
  color:#F4CE14;
  text-decoration: none;
}

/* Specials Flex */

.specialsHeadingContainer {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.specialsHeadingContainer h2 {
  color: #333;
  font-size: 18pt;
}

.specialsHeadingContainer button {
  background-color: #F4CE14;
  font-size: 16pt;
  border: solid 1px;
  border-radius: 16pt;
  border-color: #333;
  color: #333;
}

.specialsHeadingContainer button:hover {
  background-color: #495E57;
  border: solid 1px;
  border-color: #EDEFEE;
  color: #F4CE14;
  font-size: 16pt;
  border-radius: 16pt;
}

.specialsContentContainer {
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
  gap: 3rem;
}

.specialsContentBox {
  align-items: stretch;
  justify-items: stretch;
  max-width: 27ch;
  background-color: #EDEFEE;
}

.specialsContentBox img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

/* Testimonials Flex */

.testimonialsHeadingContainer {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 2%;
  padding-top: 2%;
}

.testimonialsHeadingContainer h2 {
  color: #333;
  font-size: 18pt;
}

.testimonialsContentContainer {
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
  gap: 3rem;
  padding-bottom: 5%;
}

.testimonialsContentBox {
  align-items: center;
  justify-items: center;
  max-width: 27ch;
  background-color: #EDEFEE;
  color: #333;
  border: solid 1px;
  border-color: #333;
  padding: 2%;
}


/* About Flex */

.aboutContainer {
  display: flex;
  align-content: space-between;
  justify-content: center;
  font-size: 16pt;
  line-height: 1.5;
  color: #333;
  margin-bottom: 3rem;
  padding: 2%;
  gap: 5%;
}

.aboutContainer img {
  border-radius: 16px;
  display: block;
}

.aboutContainer h2 {
  color: #495E57;
  font-size: 18pt;
}

.aboutContent {
  justify-items: center;
  align-items: center;
  width: 65ch;
}

.aboutImg {
  justify-items: center;
  align-items: center;
}